@font-face {
    font-family: 'IBM Plex Sans';
    src: url('subset-IBMPlexSans-Bold.eot');
    src: url('subset-IBMPlexSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('subset-IBMPlexSans-Bold.woff2') format('woff2'),
        url('subset-IBMPlexSans-Bold.woff') format('woff'),
        url('subset-IBMPlexSans-Bold.ttf') format('truetype'),
        url('subset-IBMPlexSans-Bold.svg#IBMPlexSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('subset-IBMPlexSans.eot');
    src: url('subset-IBMPlexSans.eot?#iefix') format('embedded-opentype'),
        url('subset-IBMPlexSans.woff2') format('woff2'),
        url('subset-IBMPlexSans.woff') format('woff'),
        url('subset-IBMPlexSans.ttf') format('truetype'),
        url('subset-IBMPlexSans.svg#IBMPlexSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

