@import 'reset.scss';

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
}


.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px
}


// header style

.header{
    background-color: #22314b;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

.menu{
    display: flex;
    position: relative;

    &__item{
        position: relative;
        padding-right: 45px;
        transition: 1s;

        &:hover .menu__dropdown{
            display: block;
            z-index: 10;
        }

        &:hover{

            &::after{
                transform: rotate(90deg);
                transition: .2s;
            }
        }

        &::after{
            content: url('../img/arrow3.png');
            position: absolute;
            top: 0;
            right: 30px;
        }
    }

    &__dropdown{
        position: absolute;
        
        display: none;
        background: #22314b;
        padding: 15px;
        width: 170px;
        left: -15px;
        transition: 1s;
    }
    

    &__drop-a{
        color: #fff;
        display: block;
        text-decoration: none;
        line-height: 30px;
        font-size: 12px;
        transition: .2s;

        &:hover{
            color: #ee602a;
        }
    }

    &__a{
        font-size: 16px;
        color: #ffffff;
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
        transition: .3s;

        &:hover{
            color: #ee602a;
        }

        
    }
}

.form{
    position: relative;

    &__search{
        background: transparent;
        max-width: 240px;
        border: none;
        border-bottom: 2px solid #fff;
        outline: none;
        color: #fff;

        &:focus{
            border-color: #ee602a;
            transition: .3s;
        }

        &_black{
            border-bottom: 2px solid #081b3a;
            font-size: 16px;
            line-height: 24px;
            color: #ee602a;

            &::placeholder{
                color: #ee602a;
            }
        }

        
    }

    &__submit{
        font-size: 16px;
        color: #ffffff;
        line-height: 35px;
        text-transform: uppercase;
        background-color: #ee602a;
        width: 195px;
        cursor: pointer;
        border: none;
        transition: .3s;

        &:hover{
            background-color: lighten($color: #ee602a, $amount: 20%);
        }
    }

    &__icon{
        position: absolute;
        top: 0;
        right: -23px;
        font-size: 20px;
        color: #ee602a;
        cursor: pointer;
    }
}

.social{
    display: flex;
    flex-direction: column;
    line-height: 25px;
    align-items: center;

    &__a{
        color: #ee602a;
        text-decoration: none;
        font-size: 24px;
        padding-right: 10px;
        transition: .3s;

        &:last-of-type{
            padding-right: 0;
        }

        &:hover{
            color: #fff;
        }
    }

    &_white{
        .social__a{
            color: #fff;

            &:hover{
                color: #ee602a;
            }
        }
    }

    &__phone{
        font-size: 14px;
        color: #fff;
    }
}

@media (max-width: 1100px){
    .wrapper{
        flex-wrap: wrap;
        padding: 20px 0;
    }

    .nav{
        order:3;
        flex-basis: 100%;

        .menu{
            padding-top: 30px;
            justify-content: center;
        }
    }

    .form{
        order: 1;
    }
    .logo{
        order: 0;
    }
    .header{
        .social{
            order: 2;
        }
    }
    
}

@media (max-width:768px){
    .wrapper{
        flex-direction: column;
    }

    .logo{
        padding: 30px;
    }
    .social{
        padding: 30px;
    }
    
    .menu{
        flex-direction: column;
        margin-left: -95px;
        
        &__item{
            padding-bottom: 20px;
            display: flex;

            &:nth-child(2) .menu__dropdown{
                left: 135px;
                top: -60px;
            }

            &:nth-child(3) .menu__dropdown{
                left: 135px;
                top: -95px;
            }
        }

        &__dropdown{
            left: 135px;
            top:-25px;

        }
    }
}

//  advantages style

.advantages{
    background-color: #0b1c38;

    &__title{
        color: #ffffff;
        font-size: 35px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 85px 0 75px;
        text-align: center;
    }
}

.title{
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 85px 0 75px;
    text-align: center;

    &_black{
        color: #081b3a;
    }
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    &__item{
        max-width: 565px;
    }
}

.card{
    color: #fff;
    padding-left: 115px;
    padding-bottom: 50px;
    position: relative;

    &:last-of-type{
        padding-bottom: 100px;
    }

    &__icon{
        width: 70px;
        height: 70px;
        position: absolute;
        background-color: #ee602a;
        top: 7px;
        left: 19px;
        font-size: 55px;
        color: #fff;
        text-align: center;
        line-height: 70px;
        transition: .3s;

        &:hover{
            background-color: #fff;
            color: #ee602a;
        }

    }

    &__title{
        font-size: 22px;
        font-weight: 500;
        line-height: 35px;
        padding-bottom: 16px;
    }

    &__content{
        font-size: 16px;
        line-height: 26px;
    }
}

@media (max-width:1200px){

    .cards{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 768px){

    
    .title{
        font-size: 22px;
        padding: 65px 0 35px;
    }
    

    .cards{
        
        &__item{
            max-width: 460px;
        }
    }

    .card{
        padding-left: 90px;
        padding-bottom: 30px;
    
        &:last-of-type{
            padding-bottom: 80px;
        }
    
        &__icon{
            width: 50px;
            height: 50px;
            top: 7px;
            left: 19px;
            font-size: 35px;
            line-height: 50px;
    
        }
    
        &__title{
            font-size: 16px;
            line-height: 30px;
            padding-bottom: 0;
        }
    
        &__content{
            font-size: 12px;
            line-height: 20px;
        }
    }
}

.about{
    background: url(../img/chain.png) no-repeat center/cover;
    position: relative;

    .container{
        position: relative;
        z-index: 1;
    }

    &__content{
        padding-bottom: 40px;

        &:last-of-type{
            padding-bottom: 75px;
        }
    }
}

.content{
    font-size: 18px;
    color: #ffffff;
    line-height: 26px;

    &_black{
        color: #081b3a
    }
}

.overlay{
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #22314b;
    opacity: 0.8;
}


.consultation{
    &__content{
        text-align: center;
    }

    .title{
        padding-bottom: 25px;
    }

    &__form{
        display: flex;
        justify-content: center;
        padding: 40px 0 80px;

        > input{
            margin-right: 25px;
        }
    }

}

@media (max-width: 768px){
    .consultation{
        &__form{
            flex-direction: column;
            align-items: center;

            > input{
                margin: 0;
                margin-bottom: 15px;
            }
        }
    }
}

.footer{
    background-color: #0b1c38;

    &__container{
        padding: 40px 20px;
    }

    .social{
        align-items: center;
    }

    .fnav{
        display: flex;
        color: #fff;
        font-size: 16px;
        line-height: 34px;
        font-weight: 500;
        text-transform: uppercase;

        &__column{
            padding-right: 40px;

            &:last-of-type{
                padding-right: 0;
            }
        }

        &__item{
            cursor: pointer;
            transition: .3s;

            &:hover{
                color: #ee602a;
            }
        }
    }

    
}

.contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__text{
        color: #ffffff;
        font-size: 14px;
        line-height: 28px;
    }
}

@media (max-width: 768px){
    .contacts{
        align-items: center;
    }

    .fnav{
        padding-bottom: 30px;
    }
}




